* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Black Ops One', cursive;
  background-color: #fad49c;
  text-align: center;
}

#parent {
  display: flex;
  justify-content: center;
}

.recent-scores,
.frm-add-score {
  width: 40%;
  margin: 2%;
  border-radius: 5px;
  border: white solid 2px;
  background-color: #fff;
}

.recent-scores {
  padding: 12px;
}

.frm-add-score {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.heading {
  display: flex;
  justify-content: space-between;
}

button {
  min-width: 100px;
  max-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(93, 166, 250);
  color: #fff;
  border: rgb(93, 166, 250) solid 2px;
  border-radius: 3px;
  padding: 5px 0;
  font-weight: 600;
}

button:hover {
  background-color: #fff;
  color: rgb(93, 166, 250);
}

button:active {
  background-color: rgb(93, 166, 250);
  color: #fff;
}

.recent-scores h3 {
  width: 100%;
  font-size: 30px;
}

.frm-add-score h3 {
  width: 100%;
  margin: 0 0 12px 0;
  font-size: 30px;
}

.frm-wrap {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 30px;
}

.score-display {
  border: gray solid 2px;
  padding: 2px;
  margin-top: 12px;
  border-radius: 10px;
  background-color: #a3c6c4;
}

.score-display ul {
  list-style-type: none;
}

.score-display li {
  font-weight: 600;
  padding: 8px 10%;
  display: flex;
  text-align: left;
}

li:nth-child(even) {
  background-color: rgb(200, 227, 245);
}

li:nth-child(odd) {
  background-color: #d8f7fc;
}

.success {
  color: green;
}

.error {
  color: red;
}

td {
  width: 150px;
}

input {
  width: 100%;
}

.crown {
  width: 50px;
  height: 40px;
  margin: 0 12px;
}
